#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.canvas {
    margin-bottom: 20px; /* Adjust the space between the canvas and button */
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 10px;
}